body {
    background-image: url('images/hire-stellar-developer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    inset: 0;
}